{# Nested Components -------------------------------------------------------------------------------------------------------------------------- #}

{% from "components/_componentDocumentation.njk" import componentDocumentation %}
{% from "components/articleCard.njk" import articleCard, articleCardMeta %}

{# Values ----------------------------------------------------------------------------------------------------------------------------- #}

{% set articleCardPosts = [
    {
        title: "Gen Z Makes History",
        tags: ["Eros Effect", "Reviews"],
        href: "#articleCard",
        figure: {
            image: 'https://penguinui.s3.amazonaws.com/component-assets/carousel/default-slide-1.webp',
            alt: 'Vibrant abstract painting with swirling blue and light pink hues on a canvas.'
        }
    },
    {
        title: "Donald Trump, the Corporate Aristocracy and the Israelization of the World",
        tags: ["Activism"],
        href: "#articleCard",
        figure: {
            image: 'https://penguinui.s3.amazonaws.com/component-assets/carousel/default-slide-2.webp',
            alt: 'Vibrant abstract painting with swirling blue and light pink hues on a canvas.'
        }
    }
] %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% call componentDocumentation({
    title: "articleCard",
    meta: articleCardMeta
}) %}
    <ul class="grid gap-2xs" style="grid-template-columns: repeat( auto-fill, minmax(225px, 1fr) );">
        {% for post in articleCardPosts %}
            {{ articleCard({
                href: post.href,
                title: post.title,
                eyebrow: post.tags | tagsList | join(", "),
                figure: post.figure | assign({aspect:"aspect-video"})
            }) }}
        {% endfor %}
    </ul>
{% endcall %}
