{# Nested Components -------------------------------------------------------------------------------------------------------------------------- #}

{% from "components/_componentDocumentation.njk" import componentDocumentation %}
{% from "components/carousel.njk" import carousel, carouselMeta %}
{% from "components/figure.njk" import figure %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% call componentDocumentation({
    title: "carousel",
    meta: carouselMeta
}) %}

    {{ carousel(
        props={
            macro: figure,
            slides: [
                {
                    image: 'https://penguinui.s3.amazonaws.com/component-assets/carousel/default-slide-1.webp',
                    alt: 'Vibrant abstract painting with swirling blue and light pink hues on a canvas.',
                    caption: 'Vibrant abstract painting with swirling blue and light pink hues on a canvas.'
                },
                {
                    image: 'https://penguinui.s3.amazonaws.com/component-assets/carousel/default-slide-2.webp',
                    alt: 'Vibrant abstract painting with swirling red, yellow, and pink hues on a canvas.',
                    caption: 'Vibrant abstract painting with swirling red, yellow, and pink hues on a canvas.'
                },
                {
                    image: 'https://penguinui.s3.amazonaws.com/component-assets/carousel/default-slide-3.webp',
                    alt: 'Vibrant abstract painting with swirling blue and purple hues on a canvas.',
                    caption: 'Vibrant abstract painting with swirling blue and purple hues on a canvas.'
                }
            ]
        },
        attrs={}
    ) }}

{% endcall %}
