{# Nested components -------------------------------------------------------------------------------------------------------------------------- #}

{% from "components/_componentDocumentation.njk" import componentDocumentation %}
{% from "components/checkbox.njk" import checkbox, checkboxMeta %}
{% from "components/markdown.njk" import markdown %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% call componentDocumentation({
    title: "checkbox",
    meta: checkboxMeta
}) %}
    <div
        x-data="{documentationCheckbox: []}"
        class="w-full grid grid-cols-subgrid grid-col-full items-center">
        {{ checkbox(
            props={
                name: "documentationCheckbox",
                label: "Checkboxes",
                description: "Optional description",
                options: [{label: "Option 1", value: "You selected option 1!"},{label: "Option 2", value: "You selected option 2!"},{label: "Option 3", value: "You selected option 3!"}],
                fieldAttrs: {}
            },
            attrs={class:"w-max justify-self-center grid-col-content"}
        ) }}
        {% call markdown(
            props={transform: false, overrides:{preRadius:"0"} },
            attrs={class:"relative grid-col-full -bottom-base-x -mx-px"}
        ) %}
        <pre>
<code>output: <span x-show="!documentationCheckbox">[]</span><span x-show="documentationCheckbox"><span x-text="JSON.stringify(documentationCheckbox)"></span></span>
</code></pre>
        {% endcall %}
    </div>
{% endcall %}
