{# Nested Components -------------------------------------------------------------------------------------------------------------------------- #}

{% from "components/_componentDocumentation.njk" import componentDocumentation %}
{% from "components/container.njk" import container, containerMeta %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{{ componentDocumentation({
    title: "container",
    meta: containerMeta
}) }}
