{# Nested Components -------------------------------------------------------------------------------------------------------------------------- #}

{% from "components/_componentDocumentation.njk" import componentDocumentation %}
{% from "components/copyToClipboard.njk" import copyToClipboard, copyToClipboardMeta %}
{% from "components/button.njk" import button %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% call componentDocumentation({
    title: "copyToClipboard",
    meta: copyToClipboardMeta
}) %}
    {{ copyToClipboard({
        copyResult: 'hey!',
        label: "Click to copy 'hey!'",
        toastMessage: "Paste to see that it worked :)"
    }) }}

{% endcall %}
