{# Nested Components -------------------------------------------------------------------------------------------------------------------------- #}

{% from "components/_componentDocumentation.njk" import componentDocumentation %}
{% from "components/dialog.njk" import dialog, dialogMeta %}
{% from "components/container.njk" import container %}
{% from "components/button.njk" import button %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% call componentDocumentation({
    title: "dialog",
    meta: dialogMeta
}) %}
    <div class="grid grid-cols-1 gap-xs justify-around w-full place-items-center">
    {% call dialog(
        props={
            ariaLabel:"center dialog",
            alignment: "center",
            triggerProps: {label:{off:"Open center dialog", on:"Close center dialog"}, size:"sm"}
        },
        attrs={}
        ) %}
            <div class="grid gap-sm px-base-x py-base-y">
                <div>Some</div>
                <div>content</div>
                <div>inside</div>
                <div>the dialog</div>
                {{ button({label: "Close center dialog"},{"@click": "toggleDialog"}) }}
            </div>
    {% endcall %}
    {% call dialog(
        props={
            ariaLabel:"top dialog",
            alignment: "top",
            triggerProps: {label:{off:"Open top dialog", on:"Close top dialog"}, size:"sm"}
        },
        attrs={}
        ) %}
            <div class="grid gap-sm px-base-x py-base-y">
                <div>Some</div>
                <div>content</div>
                <div>inside</div>
                <div>the dialog</div>
                {{ button({label: "Close top dialog"},{"@click": "toggleDialog"}) }}
            </div>
    {% endcall %}

    {% call dialog(
        props={
            ariaLabel:"bottom dialog",
            alignment: "bottom",
            triggerProps: {label:{off:"Open bottom dialog", on:"Close bottom dialog"}, size:"sm"}
        },
        attrs={}
        ) %}

            <div class="grid gap-sm px-base-x py-base-y">
                <div>Some</div>
                <div>content</div>
                <div>inside</div>
                <div>the dialog</div>
                {{ button({label: "Close bottom dialog"},{"@click": "toggleDialog"})}}
            </div>

    {% endcall %}

    {% call dialog(
        props={
            ariaLabel:"left dialog",
            alignment: "left",
            triggerProps: {label:{off:"Open left dialog", on:"Close left dialog"}, size:"sm"}
        },
        attrs={}
        ) %}

            <div class="grid gap-sm px-base-x py-base-y">
                <div>Some</div>
                <div>content</div>
                <div>inside</div>
                <div>the dialog</div>
                {{ button({label: "Close left dialog"},{"@click": "toggleDialog"})}}
            </div>

    {% endcall %}
    {% call dialog(
        props={
            ariaLabel:"right dialog",
            alignment: "right",
            triggerProps: {label:{off:"Open right dialog", on:"Close right dialog"}, size:"sm"}
        },
        attrs={}
        ) %}

            <div class="grid gap-sm px-base-x py-base-y">
                <div>Some</div>
                <div>content</div>
                <div>inside</div>
                <div>the dialog</div>
                {{ button({label: "Close right dialog"},{"@click": "toggleDialog"})}}
            </div>

    {% endcall %}
    </div>
{% endcall %}
