{# Nested Components -------------------------------------------------------------------------------------------------------------------------- #}

{% from "components/_componentDocumentation.njk" import componentDocumentation %}
{% from "components/incrementer.njk" import incrementer, incrementerMeta %}
{% from "components/markdown.njk" import markdown %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% call componentDocumentation({
    title: "incrementer",
    meta: incrementerMeta
}) %}
    <div
        x-data="{documentationIncrementer: 0}"
        class="w-full grid grid-cols-subgrid grid-col-full items-center">

        {{ incrementer(props={
            name: "documentationIncrementer",
            label: "Incrementer",
            description: "Optional description",
            fieldAttrs:{
                required: true
            }
        },
        attrs={
            class:"w-full grid-col-content"
        }) }}

        {% call markdown(
            props={transform: false, overrides:{preRadius:"0"} },
            attrs={class:"relative grid-col-full -bottom-base-x -mx-px"}
        ) %}
        <pre>
<code>output: <span x-text="JSON.stringify(documentationIncrementer)"></span>
</code></pre>
        {% endcall %}
    </div>
{% endcall %}
