{# Nested Components -------------------------------------------------------------------------------------------------------------------------- #}

{% from "components/_componentDocumentation.njk" import componentDocumentation %}
{% from "components/markdown.njk" import markdown, markdownMeta %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% call componentDocumentation({
    title: "markdown",
    meta: markdownMeta
}) %}
    {% call markdown({transform: true},{class:"w-full"}) %}

### Heading 3

Body paragraph with a [link](#) and _italics_ and **bold**.

In response to the massive killings of Palestinians in Gaza, student protests in the US and Europe have taken  the public by surprise. Without central organization, more than one  hundred universities around the world have become the scenes of building  occupations and protest camps. Subsequent police attacks have  brutalized hundreds of students, and thousands more have been arrested,  suspended from classes, or barred from campus. For the first time, the  "legitimacy" of "Israel’s" government has been called into question by  many Americans. The International Criminal Court’s indictment of  Benjamin Netanyahu reflects a broad global rejection of the Zionist  project and new sympathy for the now-visible plight of Palestinians.

---

> Blockquote

![Image](https://penguinui.s3.amazonaws.com/component-assets/carousel/default-slide-2.webp)

```
preformatted code
```

* an
* unordered
* list

1. an
2. ordered
3. list

    {% endcall %}
{% endcall %}
