{# Nested Components -------------------------------------------------------------------------------------------------------------------------- #}

{% from "components/_componentDocumentation.njk" import componentDocumentation %}
{% from "components/radioTile.njk" import radioTile, radioTileMeta %}
{% from "components/markdown.njk" import markdown %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% call componentDocumentation({
    title: "radioTile",
    meta: radioTileMeta
}) %}
    <div
        x-data="{documentationRadioTile: {} }"
        class="grid items-center w-full grid-cols-subgrid grid-col-full">
        {{ radioTile(
            props={
                name: "documentationRadioTile",
                label: "RadioTile",
                description: "Optional description",
                options: [{label: "Option 1", value: "You selected option 1!"},{label: "Option 2", value: "You selected option 2!"}],
                fieldAttrs: {}
            },
            attrs={class:"w-max justify-self-center grid-col-content"}
        ) }}
        {% call markdown(
            props={transform: false, overrides:{preRadius:"0"} },
            attrs={class:"relative grid-col-full -bottom-base-x -mx-px"}
        ) %}
        <pre>
<code>output: <span x-show="!documentationRadioTile">{}</span><span x-show="documentationRadioTile"><span x-text="JSON.stringify(documentationRadioTile)"></span></span>
</code></pre>
        {% endcall %}
    </div>
{% endcall %}
