{# Nested Components -------------------------------------------------------------------------------------------------------------------------- #}

{% from "components/_componentDocumentation.njk" import componentDocumentation %}
{% from "components/textLockup.njk" import textLockup, textLockupMeta %}
{% from "components/button.njk" import button %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% call componentDocumentation({
    title: "textLockup",
    meta: textLockupMeta
}) %}
    <div
        x-data="{toggleValue: false}"
        class="flex items-center w-full gap-sm">
            {% call textLockup({
                size: "base",
                titleTag: "h3",
                eyebrow: "Eyebrow",
                title: "Base size",
                elaboration: "Base elaboration"
            },{class:"min-w-max shrink-0 grow"}) %}
                {{ button({label: "Button", size: "lg"},{}) }}
            {% endcall %}

            {% call textLockup({
                size: "sm",
                titleTag: "h3",
                title: "Small size",
                eyebrow: "Eyebrow",
                elaboration: "Small elaboration"
            },{class:"min-w-max grow"}) %}
                {{ button({label: "Button", size: "sm"},{}) }}
            {% endcall %}
    </div>
{% endcall %}
