{# Nested Components -------------------------------------------------------------------------------------------------------------------------- #}

{% from "components/_componentDocumentation.njk" import componentDocumentation %}
{% from "components/truncateHeight.njk" import truncateHeight, truncateHeightMeta %}
{% from "components/button.njk" import button %}
{% from "components/markdown.njk" import markdown %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% call componentDocumentation({
    title: "truncateHeight",
    meta: truncateHeightMeta
}) %}
    {% call truncateHeight(
        props={
            label:{off:"Expand", on:"Collapse"},
            type:"link",
            alignment: "start",
            glyphPosition: "end",
            glyph:{off:"keyboard_arrow_down", on:"keyboard_arrow_up"}
        },
        attrs={}
        ) %}
            {% call markdown() %}
            <p>Just when we thought that the world was going completely to hell, Gen Z uprisings swept country after country, demanding life over death. Whether the issue was elite corruption in Sri Lanka, Bangladesh, Nepal, and the Philippines, police brutality in Indonesia, Israeli genocide in Gaza, increased taxes in Kenya, compulsory head scarves in Iran, mandatory pension plans in Peru, scandalously underfunded hospitals in Morocco, or a lack of basic services like electricity and water in Madagascar, a new generation has emerged in the struggle for better lives. The year 2025 may be remembered as a world-historical year of global uprisings like 1968.</p>
            {{ button({label: "Something focusable", type:"link"},{}) }}
        {% endcall %}
    {% endcall %}
{% endcall %}
