{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "assets.njk" import logo %}
{% from "components/button.njk" import button %}
{% from "components/dropdown.njk" import dropdown %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set footerStyles = "bg-neutral-light text-surface border-t border-neutral-light" %}
{% set footerButtonStyles = {
    size:"sm",
    type:"link",
    variant: "neutral"
} %}


{# ------------------------------------------------------------------------------------------------------------------------------------- #}
{% call section({tag:"footer"},{id:"footer", class:footerStyles}) %}
    {% call container({size:"base", type: "flex", alignment: "end"},{class:"py-sm justify-center"}) %}
        {{ markdown({content:cms.footer.ad, transform:true, overrides:{bodySize:"text-body-sm"} },{class:"text-center"})}}
    {% endcall %}
{% endcall %}
