{% extends "layouts/document.njk" %}

{% from "components/container.njk" import container %}
{% from "components/sidebar.njk" import sidebar %}
{% from "components/markdown.njk" import markdown %}
{% from "components/divider.njk" import divider %}

{# Content Source -------------------------------------------------------------------------------------------------------------------------- #}

{% set data = cms.componentsPage %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set smoothScroll = false %}

{% set components = [
    "accordion",
    "button",
    "dialog",
    "bottomSheet",
    "container",
    "copyToClipboard",
    "dropdown",
    "icon",
    "markdown",
    "section",
    "textLockup",
    "toaster",
    "toTopFab",
    "figure",
    "carousel",
    "modal",
    "radio",
    "radioTile",
    "select",
    "checkbox",
    "textarea",
    "input",
    "incrementer",
    "marquee",
    "search",
    "articleCard",
    "truncateHeight"
] %}


{% set documentations %}
    {% set separator = joiner(divider({direction:"horizontal"})) %}
    {% for component in components | sort() %}
        {{ separator() }}
        {% include "documentation/" + component + "Docs.njk" %}
    {% endfor %}
{% endset %}

{# Sidebar -------------------------------------------------------------------------------------------------------------------------- #}

{% block tableOfContents %}
    <div class="flex flex-col items-start w-full gap-lg py-lg">
        {% call markdown({},{
            class:"w-full hidden lg:block"
        }) %}
            <h3>All components</h3>
            {{ documentations | toc | safe }}
        {% endcall %}
    </div>
{% endblock %}

{# Content -------------------------------------------------------------------------------------------------------------------------- #}

{% block documentContent %}
    <div class="flex flex-col items-center w-full gap-lg">
        {{ documentations | safe }}
    </div>
{% endblock %}

{# Bottomsheet -------------------------------------------------------------------------------------------------------------------------- #}

{% block bottomSheet %}
    {% call bottomSheet(
        props={
           triggerProps: {
                label:{off: "Open Table of Contents", on: "Close Table of Contents"},
                glyph: {off: "keyboard_arrow_up", on: "keyboard_arrow_down"},
                size:"base",
                type:"link",
                variant: "neutral"
            }
        },
        attrs={class:"lg:hidden"}
    ) %}
        {% call container({},{class:"py-sm gap-2xs"}) %}
            {{ markdown({content: documentations | toc | safe},{class:"w-full"})}}
        {% endcall %}
    {% endcall %}
{% endblock %}
