---
permalink: /index.html
---

{% extends "layouts/page.njk" %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/container.njk" import container %}
{% from "components/button.njk" import button %}
{% from "components/figure.njk" import figure %}
{% from "components/marquee.njk" import marquee %}
{% from "components/radio.njk" import radio %}
{% from "components/radioTile.njk" import radioTile %}
{% from "components/checkbox.njk" import checkbox %}
{% from "components/input.njk" import input %}
{% from "components/incrementer.njk" import incrementer %}
{% from "components/textarea.njk" import textarea %}
{% from "components/divider.njk" import divider %}

{# Content Source -------------------------------------------------------------------------------------------------------------------------- #}

{% set data = cms.homePage %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}


{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% block pageTitle %}
    {% call container({type:"cols-2"}) %}

        <div class="flex flex-col gap-xl">
            {% call textLockup({
                titleTag: "h1",
                size: "lg",
                eyebrow: data.eyebrow,
                title: data.title
            }) %}
                {{ button({label: data.ctaLabel, variant:"fill", size:"lg"},{href:"#form", class:"w-full"}) }}
            {% endcall %}

            <div>
                {% for item in data.eventDetails %}
                    <dl class="flex flex-col gap-base-y not-last:border-b not-last:border-b-hue-light not-last:pb-lg not-first:pt-lg">
                        <dt class="text-heading-sm text-hue">{{ item.title }}</dt>
                        <dd>
                            {{ markdown({content: item.elaboration,transform: true}) }}
                        </dd>
                    </dl>
                {% endfor %}
            </div>
        </div>

        {{ figure({image:global.eventGraphic, aspect:"aspect-square"}, {class:"self-start max-xl:row-1 xl:sticky top-xl"}) }}
    {% endcall %}
{% endblock pageTitle %}

{% block pageContent %}
    {% call section({},{id:"form"}) %}
        {% call container({size:"sm"},{class:"border gap-xl py-lg"}) %}

            {% call marquee(
                props={
                    duration: "30s",
                    itemGap: "gap-sm",
                    mask: true,
                    pauseOnHover: false
                },
                attrs={}
            ) %}
                <h2 class="text-heading-lg w-full flex gap-x-base-x text-hue *:[text-box:normal]">
                    <span>RSVP</span>
                    <span aria-hidden="true">RSVP</span>
                    <span aria-hidden="true">RSVP</span>
                    <span aria-hidden="true">RSVP</span>
                    <span aria-hidden="true">RSVP</span>
                </h2>
            {% endcall %}

            {% set comma = joiner() %}
            {% set xData %}
                {%- for item in data.formFields -%}
                    {{ comma() }}
                    {%- if item.macro == 'input' or item.macro == 'textarea' -%}
                        {{- item.props.name -}}: ''
                    {%- elseif item.macro == 'incrementer' -%}
                        {{- item.props.name -}}: {{ item.props.fieldAttrs.min or 0 }}
                    {%- elseif item.macro == 'checkbox' -%}
                        {{- item.props.name -}}: []
                    {%- elseif item.macro == 'radio' or item.macro == 'select' or item.macro == 'radioTile'  -%}
                        {{- item.props.name -}}: {}
                    {%- endif -%}
                {%- endfor -%}
            {% endset %}

            <form
                x-data="{ {{- xData -}} }"
                name="contact"
                method="POST"
                action="/success"
                netlify
                tabindex="0"
                class="flex justify-center w-full">

                {# Fields #}
                <div class="flex flex-col items-center w-full gap-xl max-w-content px-base-x">
                    {% for item in data.formFields %}
                        {% set indentedStyles = "pl-base-x" if item.indented  %}
                        {% if item.showCondition %}<template class="w-full " x-if="{{ item.showCondition }}">{% endif %}
                            {% if item.macro == "input" %}
                                {{ input(props=item.props, attrs={class:"w-full " + indentedStyles}) }}
                            {% elseif item.macro == "incrementer" %}
                                {{ incrementer(props=item.props, attrs={class:"w-full " + indentedStyles}) }}
                            {% elseif item.macro == "checkbox" %}
                                {{ checkbox(props=item.props, attrs={class:"w-full " + indentedStyles}) }}
                            {% elseif item.macro == "radio" %}
                                {{ radio(props=item.props, attrs={class:"w-full " + indentedStyles}) }}
                            {% elseif item.macro == "radioTile" %}
                                {{ radioTile(props=item.props, attrs={class:"w-full " + indentedStyles}) }}
                            {% elseif item.macro == "textarea" %}
                                {{ textarea(props=item.props, attrs={class:"w-full " + indentedStyles}) }}
                            {% elseif item.macro == "select" %}
                                {{ select(props=item.props, attrs={class:"w-full " + indentedStyles}) }}
                            {% elseif item.macro == "submit" %}
                                {{ button(props=item.props | assign({size:"lg", variant:"fill"}), attrs={type:"submit", class:"w-full "}) }}
                        {% endif %}
                        {% if item.showCondition %}</template>{% endif %}
                    {% endfor %}
                </div>
            </form>

        {% endcall %}
    {% endcall %}
{% endblock pageContent %}
