{% extends "layouts/page.njk" %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{# Content Source -------------------------------------------------------------------------------------------------------------------------- #}

{% set data = cms.successPage %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set mainStyles = "justify-center" %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% block pageTitle %}
    {% call container({type:"cols-2"}, {class:"items-center"}) %}

        <div class="flex flex-col gap-xl">
            {% call textLockup({
                titleTag: "h1",
                size: "base",
                eyebrow: data.eyebrow,
                elaboration: data.elaboration,
                title: data.title,
                textAlignment: "center"
            }) %}
                {{ button({label: data.ctaLabel, size:"base"},{href:"/", class:""}) }}
            {% endcall %}
        </div>

        {{ figure({image:global.eventGraphic, aspect:"aspect-square"}, {class:"self-start"}) }}
    {% endcall %}
{% endblock pageTitle %}

{% block titleCTA %}
{% endblock titleCTA %}
{% block pageContent %}{% endblock pageContent %}
