{% extends "layouts/page.njk" %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{# Content Source -------------------------------------------------------------------------------------------------------------------------- #}

{% set data = cms.successPage %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set mainStyles = "justify-center" %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{# {% block pageTitle %}{% endblock pageTitle %} #}
{% block titleCTA %}
    {{ button({label: "Return home", variant:"fill"},{href:"/"}) }}
{% endblock titleCTA %}
{# {% block pageContent %}{% endblock pageContent %} #}
