---
pagination:
  data: collections.postsByTag
  size: 1
  alias: tag
permalink: /tag/{{ tag | slug }}/
---

{% extends "layouts/document.njk" %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set data = { title: "Tagged: " + tag } %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% block tableOfContents %}{% include "snippets/archiveSidebar.njk" %}{% endblock tableOfContents %}

{% block documentContent %}
    <ul class="flex flex-col gap-xs items-start list-inside">
        {% for post in collections[tag] | reverse %}
            <li class="list-disc">
                {{ button({label: post.data.title, type: "link"},{href:post.url}) }}
            </li>
        {% endfor %}
    </ul>
{% endblock documentContent %}
