---
data:
    title: Testing
---

{% extends "layouts/page.njk" %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/figure.njk" import figure %}
{% from "components/articleCard.njk" import articleCard %}
{% from "components/search.njk" import search %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set mainStyles = "justify-center" %}
{% set figures = [
    {
        image: 'https://penguinui.s3.amazonaws.com/component-assets/carousel/default-slide-1.webp',
        alt: 'Vibrant abstract painting with swirling blue and light pink hues on a canvas.'
    },
    {
        image: 'https://penguinui.s3.amazonaws.com/component-assets/carousel/default-slide-2.webp',
        alt: 'Vibrant abstract painting with swirling red, yellow, and pink hues on a canvas.'
    },
    {
        image: 'https://penguinui.s3.amazonaws.com/component-assets/carousel/default-slide-3.webp',
        alt: 'Vibrant abstract painting with swirling blue and purple hues on a canvas.'
    }
] %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% block pageTitle %}{% endblock pageTitle %}

{% block pageContent %}
    {% call section({},{id:"id", class:"gap-sm"}) %}
        {% call container({size:"content"},{class:"", "x-data": "{search: ''}"}) %}

            <form method='POST' name='search' :action='`/search/?q=` + search'>
            {{ search(
                props={
                    name: "search",
                    fieldAttrs: {
                        placeholder: "Search"
                    }
                },
                attrs={}
            ) }}
            </form>
        {% endcall %}
    {% endcall %}
{% endblock %}
